extends layout

block content
  div(class='bg')
    div(class='uni_container')
      img(src="/images/logo_uni_1.png", alt="")
  div(class='txtcontainer')
    div(class='txts')
      h1 Unistudent Api
      h2 by Laaaaguna    
